<div class="contents">
  <%= simple_format(blog.content) %>
  <hr color=#DDDDDD>
  <span class="show_btn">
    <%= link_to "このブログの投稿者", "/blogs/#{blog.id}", method: :get,style:"color:white;"%>
    <a href="投稿者"><%= blog.user.nickname %></a>
  </span>


</div>
