// headerのscss
.brand-logo{
  left: 50px;
}
#nav-mobile{
  margin-right: 30px;
}

// bodyのscss

.container{
  width: 60%;

}

.contents{
  overflow: scroll;
  margin-top: 20px;
  background-color: #FFFFCC;
  border: 1px outset #EEEEEE ;
}
