// headerのscss

.header{
  width: 100%;
  background: linear-gradient(to right, #ffb03c, #ff708d);
}

.brand-logo{
  left: 50px;
}
#nav-mobile{
  margin-right: 30px;
}

// bodyのscss


body{
  background: image-url("017.png");
  height: 800px;
  background-size: cover;
}


.container{
  .contents{
  overflow: scroll;
  margin-top: 20px;
  background-color: #FFFFCC;
  border: 1px outset #EEEEEE ;
 }
}
