<div class="container">
  <div class="blog_create">
  <%= form_tag('/blog', method: :post) do %>
    <h4>
      投稿する
    </h4>
    <input placeholder="写真" type="text" name="image">
    <textarea cols="30" name="content" placeholder="今日あったことは？" rows="10"></textarea>
    <input id="action_btn" type="submit" value="SENT">
  <% end %>
 </div>
</div>
