
.container{
  width: 300px;


}

.blog_create{
}

#action_btn{
  background-color: blue;
  color: white;
}

.contents{
  overflow: scroll;
  margin-top: 20px;
  background-color: #FFFFCC;
  border: 1px outset #EEEEEE ;
}
